@import '../../style/styles.scss';

.Btn {
  background: none;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: $softblack;
  cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
      color: $black;
    }
}
